footer#default-footer {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 100px;
    background-color: @color-template-4;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    padding-bottom: 2em;
    div.socials {
        margin-top: 1em;
        line-height: 1.7em;

        a.page-item {
            .default-link;
            color: @color-text-default;
        }
    }
    .github {
        .default-link;
        background: url(../images/icons/github.ico) no-repeat 100% center;
        background-size: 1em 1em;
        padding-right: 1.1em;
        color: @color-text-default;
    }
}