body {
    background-color: @color-background-light;
    font-family: "WebParastoo", "Myriad Pro", "Roboto", "Helvetica-Neue", Arial, sans-serif;
    direction: rtl;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}