.navbar {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 5px;
    .header {
        a {
            font-size: 3em;
            font-weight: bold;
            color: @color-text-heading;
        }
    }
}