    <footer id="default-footer">
        <div class="container">
            <div class="socials">
                <h3>صفحات مرتبط:</h3>
                <a href="http://ceit.aut.ac.ir/" class="page-item" target="blank">وبگاه دانشکده</a>
                <br>
                <a href="https://t.me/ceitshora" class="page-item" target="blank">تلگرام شورای صنفی دانشکده</a>
            </div>

            <p class="signature">
                وبگاه شورای صنفی دانشکده مهندسی کامپیوتر و فناوری اطلاعات دانشگاه صنعتی امیر‌کبیر
                
                <span class="github">
                    <a href="https://github.com/Meshkati/ceit-shora-blog" class="github" target="blank">آزمایشی</a>
                </span>
            </p>
        </div>
    </footer>
</body>
</html>